dist/mailtoolsbox-1.0.1-py3-none-any.whl
dist/mailtoolsbox-1.0.1.tar.gz
MailToolsBox.egg-info/dependency_links.txt
MailToolsBox.egg-info/PKG-INFO
MailToolsBox.egg-info/requires.txt
MailToolsBox.egg-info/SOURCES.txt
MailToolsBox.egg-info/top_level.txt
__pycache__/
*.py[cod]
*.egg-info/
dist/
.vscode/
.pypirc
.pypirc.local
